1. For easy to run, you can use my test database

jdbc:postgresql://rain.db.elephantsql.com:5432/bgfrabtl
username=bgfrabtl
password=oGeyGweIKhTr2hURyDFXVJYhGt8TMWOc


2. For JWT configuration, please refer these value as a sample

secret-key=45467cd691dbf01cb71ec2e093a003ea2fb14843f7b43fffe3ab0744eeb1421e
expiration=86400000